@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background color for the entire page */
.bg-body {
  background-color: rgba(246, 244, 244, 1);
}

/* Custom class for black background in the outer div */
.bg-custom {
  background-color: black;
}

/* Styles for the login container */
.login-container {
  @apply flex items-center justify-center h-screen bg-body;
}

/* Styles for the login box */
.login-box {
  @apply bg-custom p-8 rounded-lg shadow-lg w-80;
}

/* Styles for the login title */
.login-title {
  @apply text-white text-center text-2xl mb-6;
}

/* Styles for input labels */
.input-label {
  @apply text-white text-sm;
}

/* Styles for input fields */
.input-field {
  @apply px-3 py-2 rounded-full bg-gray-200 text-black focus:outline-none;
}

/* Styles for the login and create account buttons */
.button {
  @apply px-4 py-2 rounded-full bg-gray-500 text-white hover:bg-gray-400 transition-colors duration-300;
}

/* Additional margin for the login button */
.button-login {
  @apply mt-6;
}

/* Additional margin for the create account button */
.button-create-account {
  @apply mt-2;
}

/* Position the logo in the top left corner */
.logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* Style for the logo image */
.logo {
  width: 200px; /* Adjust as needed */
  height: auto;
}

